{% extends "quiz/base.html" %}

{% block content %}


<div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-7 text-center">

        <h1 class="text-white">HTML</h1>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz1</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'html2' %}">Quiz2</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz3' %}">Quiz3</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz4' %}">Quiz4</a>
        <hr>
        <h1 class="text-white">CSS</h1>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz5' %}">Quiz1</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz6' %}">Quiz2</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz7' %}">Quiz3</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz8' %}">Quiz4</a>
        <hr>
        <h1 class="text-white">Javascript</h1>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz9' %}">Quiz1</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz10' %}">Quiz2</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz11' %}">Quiz3</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz12' %}">Quiz4</a>
        <hr>
        <h1 class="text-white">Django</h1>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz13' %}">Quiz1</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz14' %}">Quiz2</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz15' %}">Quiz3</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz16' %}">Quiz4</a>
        <hr>
        <h1 class="text-white">Jquery</h1>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz17' %}">Quiz1</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz18' %}">Quiz2</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz19' %}">Quiz3</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quiz20' %}">Quiz4</a>
        

        </div>
    </div>

{% endblock %}
