{% extends "quiz/base.html" %}

{% block content %}


<div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-7 text-center">

        <h1 class="text-white">HTML</h1>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz1</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'html2' %}">Quiz2</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'html3' %}">Quiz3</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'html4' %}">Quiz4</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'html5' %}">Quiz5</a>
        <hr>
        <h1 class="text-white">CSS</h1>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'css1' %}">Quiz1</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'css2' %}">Quiz2</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz3</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz4</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz5</a>
        
        <hr>
        
        <h1 class="text-white">Javascript</h1>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz1</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz2</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz3</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz4</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz5</a>
        
        <hr>
        <h1 class="text-white">Django</h1>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz1</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz2</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz3</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz4</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz5</a>
        
        <hr>
        <h1 class="text-white">Vue js</h1>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz1</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz2</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz3</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz4</a>
        <a role="button" class="btn btn-warning btn-lg" href="{% url 'quizroom' %}">Quiz5</a>
        
        
        
        
        
        






        </div>
    </div>

{% endblock %}
