{% extends 'quiz/base.html' %}

{% block content %}

<div class="quizcontainer">
    <p id = "abc">Pavana</p>

    <div class="question-number">
        <h3>Question <span class= "question-num-value"></span> of <span class = "total-question"></span> </h3>

    </div>
    <div class="question">

    </div>
    <div class="options">
        <div class="option1" id="0" onclick = "check(this)"></div>
        <div class="option2" id="1" onclick = "check(this)"></div>
        <div class="option3" id="2" onclick = "check(this)"></div>
        <div class="option4" id="3" onclick = "check(this)"></div>
        <div style="display: none;" class="answer" id ="answer"></div>


    </div>
    <div class="button"> 
        <a href="#"  class="btn btn-primary" onclick = "next()" >Next</a>
        <a href="#"  class="btn danger" >Submit</a>


    </div>
    
    <!-- <div class="answers-tracker">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

    </div>
 -->

</div>

{% endblock %}