{% extends 'quiz/base.html' %}

{% block content %}

<div class="quizcontainer">


    <div class="question-number">
        <h3>Question <span class= "question-num-value"></span> of <span class = "total-question"></span> </h3>
    </div>

    <div class="question">
    </div>

    <div class="options">
        <div class="option1 choice" id="0" onclick="check(this)"></div>
        <div class="option2 choice" id="1" onclick="check(this)"></div>
        <div class="option3 choice" id="2" onclick="check(this)"></div>
        <div class="option4 choice" id="3" onclick="check(this)"></div>
        <div style="display: none;" class="answer" id ="answer">{{result.answer}} </div>
    </div>
    
    <div class="button"> 
        <button type = "button" class="btn" onclick = "next()">Next</button>
        <!-- <a href="{% url 'question' result.id %}"  class="btn btn-primary" >Next</a>
        <a href="{% url 'score' %}"  class="btn danger" >Submit</a> -->
    </div>
    
     <div class="answers-tracker">

    </div>
    <div class="quiz-over">
        <div class="box">
        <h1>
        Good Try!<br>
        You got <span class="correct-answers"></span>out of <span class="total-questions2"></span> answers correct!<br> 
        That's <span class="percentage"></span>
        </h1>
        <button type="button" onclick="tryAgain()">TryAgain</button>
    </div>
    

</div>

</div>

{% endblock %}