{% extends 'quiz/base.html' %}

{% block content %}

<div id="quizContainer" class="container">
    <div class="title">Computer Quiz</div>
    <div id="question" class="question"></div>
    <label class="option"><input type="radio"  name="option" value="1" onchange="check(this);"/> <span id="opt1"></span></label>
    <label class="option"><input type="radio" name="option" value="2" onchange="check(this);" /> <span id="opt2"></span></label>
    <label class="option"><input type="radio" name="option" value="3" onchange="check(this);"/> <span id="opt3"></span></label>
    <label class="option"><input type="radio" name="option" value="4" onchange="check(this);"/> <span id="opt4"></span></label>
    <button id="nextButton" class="next-btn" onclick="loadNextQuestion();">Next </button>
</div>
<div id="result" class="container result" style="display:none;">
</div>



{% endblock %}