{% extends 'quiz/base.html' %}

{% block content %}

<div class="quizcontainer">


    <div class="question-number">
        <h3>Score </h3>
    </div>
    <div class="question">
        Score : {{ 3 }}
    </div>
    
    <div class="button"> 
        <a href="{% url 'quizroom' %}"  class="btn btn-primary" >Another quiz</a>
    </div>
    
    <!-- <div class="answers-tracker">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

    </div>
 -->

</div>

{% endblock %}
