{% extends 'quiz/base.html' %}

{% load static %}

{% block content %}


<div class="container">
    {% for i in quizname %}
    <p>{{i.name}}</p>
    {% endfor %}
    <h1>Score submission</h1>
    <h2 class="alert-warning">{{error}}</h2>
    <form method="POST">
        {% csrf_token %}

        <div>
            <p style="display:none;">
                <label for="id_username">Username:</label>
                <input type="text" name="username" value={{user.username}} placeholder="{{user.username}}" maxlength="50" required="" id="id_username">
            </p>
            <p>
                <label for="id_quizname">Quizname:</label>
                <input type="text" name="quizname" placeholder="Quizname" maxlength="50"  required=""  id="id_quizname" value={{i.quizname}}>

            </p>
            <p>
                <label for="id_score">Score:</label>
                <input type="number" name="score" placeholder ='' value='score' required="" id="id_score">         
            </p>
        </div>
        <button type="submit">Submit</button>

    </form>
</div>
<p id="timer" style="display: none;"><label id="minutes">00</label>:<label id="seconds">00</label></p>

<script src="{% static 'js/html/html2.js'%}"></script>



{% endblock %}
