{% extends 'quiz/base.html' %}

{% load static %}

{% block content %}


<div id="quizContainer" class="containera">
    <div class="title">HTML Quiz123</div> 
    <div class= "time">
        <p id="timer"><label id="minutes">00</label>:<label id="seconds">00</label>
        </p>
    </div>
    <div id="question" class="question"></div>
    <label class="option"><input type="radio" name="option" value="1" onchange="check(this);"/> <span id="opt1"></span></label>
    <label class="option"><input type="radio" name="option" value="2" onchange="check(this);" /> <span id="opt2"></span></label>
    <label class="option"><input type="radio" name="option" value="3" onchange="check(this);"/> <span id="opt3"></span></label>
    <label class="option"><input type="radio" name="option" value="4" onchange="check(this);"/> <span id="opt4"></span></label>
    <button id="nextButton"  onclick="loadNextQuestion();"></button>
     
</div>

<div id="heading" class="heading" style="display:none;"></div>
<div id="quizname" class="quizname" style="display: none;"></div>
<div id="counter" class="counter" style="display:none;"></div>
<div id="status" class="status" style="display:none;"></div>
<div id="result" class="result mb-5" style="display:none;"></div>
<div id="share" class="share " style="display:none;"></div>

<script src="{% static 'js/scripts/quiz16.js'%}"></script>



{% endblock %}